<?xml version="1.0" encoding="utf-8"?>


<?if $(var.Platform) = x64 ?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="LIB_DIR">
	<Directory Id="gamescene" Name="gamescene" />
	<Directory Id="std" Name="std" />

        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="libraries">

            <Component Id="C0" Directory="gamescene" Win64='$(var.Win64)' Guid="{0eb3629a-696a-4a98-bf53-cc40723b86d1}">
                <File Id="F0" KeyPath="yes" Source="libraries\gamescene\lib.spwn" />
            </Component>
        
            <Component Id="C1" Directory="std" Win64='$(var.Win64)' Guid="{117eaf26-cee9-416c-b02c-9fe04632daac}">
                <File Id="F1" KeyPath="yes" Source="libraries\std\array.spwn" />
            </Component>
        
            <Component Id="C2" Directory="std" Win64='$(var.Win64)' Guid="{b2036ed2-db8c-4863-8d77-927cd054d7dd}">
                <File Id="F2" KeyPath="yes" Source="libraries\std\block.spwn" />
            </Component>
        
            <Component Id="C3" Directory="std" Win64='$(var.Win64)' Guid="{4663bfbe-7e7a-4c4d-b887-65f018e4ec76}">
                <File Id="F3" KeyPath="yes" Source="libraries\std\color.spwn" />
            </Component>
        
            <Component Id="C4" Directory="std" Win64='$(var.Win64)' Guid="{8c8fe607-f5c9-4da0-acde-4c0154ee6578}">
                <File Id="F4" KeyPath="yes" Source="libraries\std\constants.spwn" />
            </Component>
        
            <Component Id="C5" Directory="std" Win64='$(var.Win64)' Guid="{b6788c1e-580c-4415-a14b-de5641b2cdb7}">
                <File Id="F5" KeyPath="yes" Source="libraries\std\control_flow.spwn" />
            </Component>
        
            <Component Id="C6" Directory="std" Win64='$(var.Win64)' Guid="{456881ac-2cc1-4174-bae7-23e18aef2717}">
                <File Id="F6" KeyPath="yes" Source="libraries\std\counter.spwn" />
            </Component>
        
            <Component Id="C7" Directory="std" Win64='$(var.Win64)' Guid="{01f24903-9db2-4e22-a0e3-1657c89dfea9}">
                <File Id="F7" KeyPath="yes" Source="libraries\std\dictionary.spwn" />
            </Component>
        
            <Component Id="C8" Directory="std" Win64='$(var.Win64)' Guid="{5242c084-84e1-4e32-9154-ed981d0187e5}">
                <File Id="F8" KeyPath="yes" Source="libraries\std\events.spwn" />
            </Component>
        
            <Component Id="C9" Directory="std" Win64='$(var.Win64)' Guid="{66e34be4-db93-4a35-9cb9-32887086b986}">
                <File Id="F9" KeyPath="yes" Source="libraries\std\fileio.spwn" />
            </Component>
        
            <Component Id="C10" Directory="std" Win64='$(var.Win64)' Guid="{a288308b-49d0-42a8-89b2-f8ad437996b4}">
                <File Id="F10" KeyPath="yes" Source="libraries\std\general_triggers.spwn" />
            </Component>
        
            <Component Id="C11" Directory="std" Win64='$(var.Win64)' Guid="{f145d8f2-3b3a-4998-acba-07ed1b897f76}">
                <File Id="F11" KeyPath="yes" Source="libraries\std\group.spwn" />
            </Component>
        
            <Component Id="C12" Directory="std" Win64='$(var.Win64)' Guid="{8ba91dc5-3104-456d-8220-9a8e4a7278e5}">
                <File Id="F12" KeyPath="yes" Source="libraries\std\item.spwn" />
            </Component>
        
            <Component Id="C13" Directory="std" Win64='$(var.Win64)' Guid="{98c595e4-6670-4825-9cb4-30fca874856a}">
                <File Id="F13" KeyPath="yes" Source="libraries\std\lib.spwn" />
            </Component>
        
            <Component Id="C14" Directory="std" Win64='$(var.Win64)' Guid="{f2229bd3-1213-4fb5-be50-bf4a5cb33f02}">
                <File Id="F14" KeyPath="yes" Source="libraries\std\object.spwn" />
            </Component>
        
            <Component Id="C15" Directory="std" Win64='$(var.Win64)' Guid="{33544ea6-5666-465c-9a75-4f7e41230d5c}">
                <File Id="F15" KeyPath="yes" Source="libraries\std\obj_set.spwn" />
            </Component>
        
            <Component Id="C16" Directory="std" Win64='$(var.Win64)' Guid="{03d68bfe-5f0c-4ccb-b144-1b502322f0a2}">
                <File Id="F16" KeyPath="yes" Source="libraries\std\regex.spwn" />
            </Component>
        
            <Component Id="C17" Directory="std" Win64='$(var.Win64)' Guid="{114167e9-0eb5-4002-936b-2202f3cc35c7}">
                <File Id="F17" KeyPath="yes" Source="libraries\std\string.spwn" />
            </Component>
        
            <Component Id="C18" Directory="std" Win64='$(var.Win64)' Guid="{b348dca7-f4ed-4a21-ad6e-77e680fad785}">
                <File Id="F18" KeyPath="yes" Source="libraries\std\util.spwn" />
            </Component>
        
        </ComponentGroup>
    </Fragment>
</Wix>
