<?xml version="1.0" encoding="utf-8"?>


<?if $(var.Platform) = x64 ?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="LIB_DIR">
	<Directory Id="gamescene" Name="gamescene" />
	<Directory Id="std" Name="std" />

        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="libraries">

            <Component Id="C0" Directory="gamescene" Win64='$(var.Win64)' Guid="{3e389a0c-79d3-4f72-8d66-575bbb9a45f0}">
                <File Id="F0" KeyPath="yes" Source="libraries\gamescene\lib.spwn" />
            </Component>
        
            <Component Id="C1" Directory="std" Win64='$(var.Win64)' Guid="{7faa3fc6-6eeb-4fbb-ad97-7674684b8469}">
                <File Id="F1" KeyPath="yes" Source="libraries\std\array.spwn" />
            </Component>
        
            <Component Id="C2" Directory="std" Win64='$(var.Win64)' Guid="{1b820599-8f3e-4983-b830-c5573cffc924}">
                <File Id="F2" KeyPath="yes" Source="libraries\std\block.spwn" />
            </Component>
        
            <Component Id="C3" Directory="std" Win64='$(var.Win64)' Guid="{1d8414fb-0715-4777-9f7f-84d2b54cf0bd}">
                <File Id="F3" KeyPath="yes" Source="libraries\std\color.spwn" />
            </Component>
        
            <Component Id="C4" Directory="std" Win64='$(var.Win64)' Guid="{e8c54216-bda9-4423-acf7-2c9bb6633ab3}">
                <File Id="F4" KeyPath="yes" Source="libraries\std\constants.spwn" />
            </Component>
        
            <Component Id="C5" Directory="std" Win64='$(var.Win64)' Guid="{499d9200-0b01-4822-b36e-e62220962d7d}">
                <File Id="F5" KeyPath="yes" Source="libraries\std\control_flow.spwn" />
            </Component>
        
            <Component Id="C6" Directory="std" Win64='$(var.Win64)' Guid="{245697a4-7c6d-45cf-8f3b-a07be98c1f08}">
                <File Id="F6" KeyPath="yes" Source="libraries\std\counter.spwn" />
            </Component>
        
            <Component Id="C7" Directory="std" Win64='$(var.Win64)' Guid="{0a6cec77-a26b-447c-a647-be6917f46aab}">
                <File Id="F7" KeyPath="yes" Source="libraries\std\dictionary.spwn" />
            </Component>
        
            <Component Id="C8" Directory="std" Win64='$(var.Win64)' Guid="{3ace42f4-604c-4b93-8292-c7d32fa0f53a}">
                <File Id="F8" KeyPath="yes" Source="libraries\std\events.spwn" />
            </Component>
        
            <Component Id="C9" Directory="std" Win64='$(var.Win64)' Guid="{115ae4be-4fd5-4c80-bbf0-e1299c84ea84}">
                <File Id="F9" KeyPath="yes" Source="libraries\std\fileio.spwn" />
            </Component>
        
            <Component Id="C10" Directory="std" Win64='$(var.Win64)' Guid="{f7337500-f830-4a8d-b927-e47df7076c84}">
                <File Id="F10" KeyPath="yes" Source="libraries\std\general_triggers.spwn" />
            </Component>
        
            <Component Id="C11" Directory="std" Win64='$(var.Win64)' Guid="{f6db6af9-e01d-4629-8de0-3be4d9c6a3fe}">
                <File Id="F11" KeyPath="yes" Source="libraries\std\group.spwn" />
            </Component>
        
            <Component Id="C12" Directory="std" Win64='$(var.Win64)' Guid="{ccc14cd0-8226-4753-88a0-71380a65922c}">
                <File Id="F12" KeyPath="yes" Source="libraries\std\heapq.spwn" />
            </Component>
        
            <Component Id="C13" Directory="std" Win64='$(var.Win64)' Guid="{7886bbc0-863a-408a-908f-6f2ffd759059}">
                <File Id="F13" KeyPath="yes" Source="libraries\std\item.spwn" />
            </Component>
        
            <Component Id="C14" Directory="std" Win64='$(var.Win64)' Guid="{1929706c-f698-407e-a407-4e66331fc0b8}">
                <File Id="F14" KeyPath="yes" Source="libraries\std\lib.spwn" />
            </Component>
        
            <Component Id="C15" Directory="std" Win64='$(var.Win64)' Guid="{bb52dcaf-bf36-4731-91d6-ec5089e10a30}">
                <File Id="F15" KeyPath="yes" Source="libraries\std\number.spwn" />
            </Component>
        
            <Component Id="C16" Directory="std" Win64='$(var.Win64)' Guid="{52f33b26-b455-43f6-8963-7f1918cc9d8a}">
                <File Id="F16" KeyPath="yes" Source="libraries\std\object.spwn" />
            </Component>
        
            <Component Id="C17" Directory="std" Win64='$(var.Win64)' Guid="{51e609e7-d51f-4317-91ee-ff95550425f7}">
                <File Id="F17" KeyPath="yes" Source="libraries\std\obj_set.spwn" />
            </Component>
        
            <Component Id="C18" Directory="std" Win64='$(var.Win64)' Guid="{1fef6638-286d-4e97-864e-745c1c156695}">
                <File Id="F18" KeyPath="yes" Source="libraries\std\regex.spwn" />
            </Component>
        
            <Component Id="C19" Directory="std" Win64='$(var.Win64)' Guid="{733156ec-2c1d-433d-9d6e-3e4e07b52f17}">
                <File Id="F19" KeyPath="yes" Source="libraries\std\string.spwn" />
            </Component>
        
            <Component Id="C20" Directory="std" Win64='$(var.Win64)' Guid="{32a57240-a28c-4656-845e-6778ba6cd4e4}">
                <File Id="F20" KeyPath="yes" Source="libraries\std\util.spwn" />
            </Component>
        
        </ComponentGroup>
    </Fragment>
</Wix>
