<?xml version="1.0" encoding="utf-8"?>


<?if $(var.Platform) = x64 ?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="LIB_DIR">
	<Directory Id="gamescene" Name="gamescene" />
	<Directory Id="std" Name="std" />

        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="libraries">

            <Component Id="C0" Directory="gamescene" Win64='$(var.Win64)' Guid="{189c0a0c-9157-4ad8-a5b5-28527ef9578f}">
                <File Id="F0" KeyPath="yes" Source="libraries\gamescene\lib.spwn" />
            </Component>
        
            <Component Id="C1" Directory="std" Win64='$(var.Win64)' Guid="{46b60c8d-365c-4e24-8348-63592a5e35f5}">
                <File Id="F1" KeyPath="yes" Source="libraries\std\array.spwn" />
            </Component>
        
            <Component Id="C2" Directory="std" Win64='$(var.Win64)' Guid="{b2e5ed6a-6335-4fc6-8566-095d87e51365}">
                <File Id="F2" KeyPath="yes" Source="libraries\std\block.spwn" />
            </Component>
        
            <Component Id="C3" Directory="std" Win64='$(var.Win64)' Guid="{cd2a2cd8-405f-4da5-869a-248baeb18e06}">
                <File Id="F3" KeyPath="yes" Source="libraries\std\color.spwn" />
            </Component>
        
            <Component Id="C4" Directory="std" Win64='$(var.Win64)' Guid="{8deddd20-092e-48f7-b443-5f1b644e0f54}">
                <File Id="F4" KeyPath="yes" Source="libraries\std\constants.spwn" />
            </Component>
        
            <Component Id="C5" Directory="std" Win64='$(var.Win64)' Guid="{d8e5d51d-bf15-4dc0-ac4e-4617b05ca3e0}">
                <File Id="F5" KeyPath="yes" Source="libraries\std\control_flow.spwn" />
            </Component>
        
            <Component Id="C6" Directory="std" Win64='$(var.Win64)' Guid="{616dd60d-87d2-44b9-876f-6ef355d432a1}">
                <File Id="F6" KeyPath="yes" Source="libraries\std\counter.spwn" />
            </Component>
        
            <Component Id="C7" Directory="std" Win64='$(var.Win64)' Guid="{2b22f326-e623-442e-adb7-7ec1016e9c49}">
                <File Id="F7" KeyPath="yes" Source="libraries\std\dictionary.spwn" />
            </Component>
        
            <Component Id="C8" Directory="std" Win64='$(var.Win64)' Guid="{a0b1811a-ef52-402f-9291-1b2d0e8d5016}">
                <File Id="F8" KeyPath="yes" Source="libraries\std\events.spwn" />
            </Component>
        
            <Component Id="C9" Directory="std" Win64='$(var.Win64)' Guid="{b59fa490-e17b-40af-9d66-47e2d0a92d7f}">
                <File Id="F9" KeyPath="yes" Source="libraries\std\fileio.spwn" />
            </Component>
        
            <Component Id="C10" Directory="std" Win64='$(var.Win64)' Guid="{090d7da8-bb4c-421e-b71d-b76949139781}">
                <File Id="F10" KeyPath="yes" Source="libraries\std\general_triggers.spwn" />
            </Component>
        
            <Component Id="C11" Directory="std" Win64='$(var.Win64)' Guid="{eb4d386a-fbcd-4520-b9c4-ad7b81e2a7fc}">
                <File Id="F11" KeyPath="yes" Source="libraries\std\group.spwn" />
            </Component>
        
            <Component Id="C12" Directory="std" Win64='$(var.Win64)' Guid="{e1155b0d-3f70-4935-b53c-d38db51a4be4}">
                <File Id="F12" KeyPath="yes" Source="libraries\std\item.spwn" />
            </Component>
        
            <Component Id="C13" Directory="std" Win64='$(var.Win64)' Guid="{b6fdcf70-e23e-4eb6-a895-74f521d8a184}">
                <File Id="F13" KeyPath="yes" Source="libraries\std\lib.spwn" />
            </Component>
        
            <Component Id="C14" Directory="std" Win64='$(var.Win64)' Guid="{f2999658-8448-43f7-acd6-82f7f0fbb80d}">
                <File Id="F14" KeyPath="yes" Source="libraries\std\number.spwn" />
            </Component>
        
            <Component Id="C15" Directory="std" Win64='$(var.Win64)' Guid="{68929e44-acaf-4b4c-a37a-312960d01177}">
                <File Id="F15" KeyPath="yes" Source="libraries\std\object.spwn" />
            </Component>
        
            <Component Id="C16" Directory="std" Win64='$(var.Win64)' Guid="{3eec844b-a13d-44b8-b9f5-4ee472102978}">
                <File Id="F16" KeyPath="yes" Source="libraries\std\obj_set.spwn" />
            </Component>
        
            <Component Id="C17" Directory="std" Win64='$(var.Win64)' Guid="{26d5f855-03c8-43fb-a8c3-9a657b692ca5}">
                <File Id="F17" KeyPath="yes" Source="libraries\std\regex.spwn" />
            </Component>
        
            <Component Id="C18" Directory="std" Win64='$(var.Win64)' Guid="{ebe7aee6-40c3-48de-8a07-5d8f3e179c45}">
                <File Id="F18" KeyPath="yes" Source="libraries\std\string.spwn" />
            </Component>
        
            <Component Id="C19" Directory="std" Win64='$(var.Win64)' Guid="{23633dfc-a49b-40e7-9cf8-6d0af4d31b78}">
                <File Id="F19" KeyPath="yes" Source="libraries\std\util.spwn" />
            </Component>
        
        </ComponentGroup>
    </Fragment>
</Wix>
