name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --release --verbose
      
  upload:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - run: mkdir -p build_artifacts
    - run: cargo build --release
    - run: mv target/release/spwn build_artifacts

    - uses: actions/upload-artifact@v2
      with:
        name: ubuntu-linux-artifact
        path: build_artifacts
        
        
  run-ls:
    runs-on: ubuntu-latest
    
    steps:
    - run: ls ..
